.App {
  text-align: center;
  font-family: monospace;
}

.calculator {
  background-color: lightseagreen;
  width: 25%;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
}

button {
  border-radius: 100px;
  border-width: 1px;
  font-family: monospace;
}

input {
  font-family: monospace;
  background-color: lightcyan;
  margin: 3px;
}
