.App {
  text-align: center;
  font-family: monospace;
}

.calculator {
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
}

button {
  border-radius: 100px;
  border-width: 1px;
  font-family: monospace;
}

input {
  font-family: monospace;
  background-color: lightcyan;
}
